body {
    font-family: 'Roboto', sans-serif;
}

h1 {

    font-size: 50px;
}

.orange {

    color: orange;
}

section {

    display: flex;
}

.half {
    width: 50%;
}

.half img {
    width: 200%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}